<!-- <div class="hamburger" (click)="toggleSidenav()">
</div> -->

<!-- <div class="hamburger" [class.open]="isVisible">
    <i class="fa-solid fa-arrow-right"  ></i>
    <a href="#"><i class="fa-solid fa-cart-shopping" style="font-size: 1.5em;"></i></a>
    <a href="#"><i class="fa-solid fa-gift" style="font-size: 1.5em;"></i></a>
</div> -->



<div class="hamburger" [class.open]="isVisible" >
  
    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="#"><i class="fa-solid fa-gift"></i></a>
  </div>


  <!-- <div class="sidenav-content" >
    <a href="#"><i class="fa-solid fa-cart-shopping"></i>Home</a>
    <a href="#"><i class="fa-solid fa-gift"></i>abc</a>
  </div> -->
  
